/*The CSS for the Contact page*/
#detailed_contact{
    text-align: center;
    /*padding-top: 1em;*/
    /*padding-bottom: 1em;*/
    padding: 1em;
}

#detailed_contact #formBlock{
    text-align: left;
}
