/*The home page css*/
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
}

.nav ul li{
    text-align: center;
    border-bottom: 1px solid #555;
    background-color: silver;
    padding: 1em;
}

.nav ul li:last-child {
    border-bottom: none;
}

.home .homeLink{
    display: none;
}
.detailed .active {
    background-color: deepskyblue;
}

