/*CSS for products page*/
#detailed_project_info .row{
    /*display: table-row;*/
    text-align: center;
}

#detailed_project_info .rowGroup{
    border-bottom: dashed;
    border-bottom-color: silver;
    /*width: 95%;*/
    margin-left:auto;
    margin-right:auto;
}

#detailed_project_info .row div{
    width: 100%;
    /*display: table-cell;*/
    vertical-align:top;
    padding-top: 1em;
    padding-bottom: 1em;


}

#detailed_project_info img{
    width: 90%;
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
}

