/*Background*/
html{
    background: url(../images/stars.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*All this stuff is navigation bar stuff, needed to be split apart so it looks cool*/
nav{
    position: absolute;
    clear: both;
    overflow: auto;
    color: black;
    z-index: 5; !important;
}



nav div span{
    opacity:0; /* Completely invisible. */
    position: absolute;
    left: 94px;
    font-size: 0px;

}

nav div img{
    height: 64px;
    width: 64px;
}





/*navWrapHome*/
nav div.navWrapHome{
    width: 64px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    background-color: white;
    padding: 10px;
    opacity: .7;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapHome:hover{
    width: 200px;
    border-bottom-right-radius: 15px;
    opacity: 1;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
     /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapHome span{
top: 45px;
font-size: 0%;

-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
/*...and now for the proper property */
transition:.5s;
}

nav div.navWrapHome:hover span{
    opacity:1; /* Completely visible. */


    font-size: 300%;
    top: 25px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}


    /*navWrapProject*/
nav div.navWrapProject{
    width: 64px;

    background-color: white;
    padding: 10px;
    opacity: .7;


    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapProject:hover{
    width: 235px;
    opacity: 1;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;


    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapProject span{
    top: 135px;
    font-size: 0%;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapProject:hover span{
    opacity:1; /* Completely visible. */

    font-size: 300%;
    top: 115px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

/*navWrapThoughts*/
nav div.navWrapThoughts{
    width: 64px;

    background-color: white;
    padding: 10px;
    opacity: .7;

    -o-transition:.5s;
    /*-ms-transition:.5s;*/
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapThoughts:hover{
    width: 260px;
    opacity: 1;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapThoughts span{
    top: 220px;
    font-size: 0%;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapThoughts:hover span{
    opacity:1; /* Completely visible. */

    font-size: 300%;
    top: 200px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

/*navWrapProgramming*/
nav div.navWrapProgramming{
    width: 64px;

    background-color: white;
    padding: 10px;
    opacity: .7;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapProgramming:hover{
    width: 340px;
    opacity: 1;
    z-index: 999;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapProgramming span{
    top: 310px;
    font-size: 0;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapProgramming:hover span{
    opacity:1; /* Completely visible. */

    font-size: 300%;
    top: 290px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

/*navWrapAbout*/
nav div.navWrapAbout{
    width: 64px;

    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    background-color: white;
    padding: 10px;
    opacity: .7;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapAbout:hover{
    width: 240px;
    opacity: 1;
    /*z-index:555555 !important;*/

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapAbout span{
    top: 395px;
    font-size: 0%;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}

nav div.navWrapAbout:hover span{
    opacity:1; /* Completely visible. */

    font-size: 300%;
    top: 375px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /*...and now for the proper property */
    transition:.5s;
}



/*Onto the style of main article*/



div.mainArticle{
    z-index: 1;
    position: absolute;

    top: 50px;
    left: 105px;
    padding: 10px;
    border-radius: 15px;

    width: 70%;

    margin-right: 7.5%;
    background-color: white;
    opacity: .9;
}
div.mainArticle:hover{
    /*background-color: blue;*/
}

h2.ProjectType{
    background-color: rgba(7, 136, 228, 0.51);
    border-radius: 15px;
    padding: 5px;
    text-align: center;

    width: 25%;
    min-width: 115px
}

div.ProjectText{
    display: none;
}

div.ProjectText img{
    height: 100px;
    width: 160px;
    padding: 10px;
    text-decoration: none;
}



div.ProjectText div{
    display: inline-block;
    padding-right: 40px;
}
