/*The CSS for the About me page*/
#detailed_about_info{
    text-align: center;
    padding: 1em;


}
#detailed_about_info .aboutMe{
    width: 30%;
    display: inline-block;
    vertical-align:top;
}
