/*CSS for products page*/
#detailed_project_info .row{
    display: table-row;
}

#detailed_project_info .rowGroup{
    border-bottom: dashed;
    border-bottom-color: silver;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}

#detailed_project_info .row div{
    width: 50%;
    display: table-cell;
    vertical-align:top;
    padding: 1em;

}

#detailed_project_info img{
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
    /*padding-left: 2em;*/
}

#detailed_project_info img:hover{
    box-shadow: -2px -2px 40px rgba(0,191,255,1);
    box-shadow: 2px 2px 40px rgba(0,191,255,1);
}

#detailed_project_info .words{
   margin-bottom: 25%;
}

/*#otherProjects .row div{*/
    /*width: 30%;*/
/*}*/
